body {
  font-size: 20px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
}

h2 {
  color: white;
  font-weight: bold;
}

p span, td {
  font-weight: bold;
  color: blue;
}

hr {
  border-color: black;
}

form {
  display: inline-block;
}

.btn {
  font-size: 16px;
  width: 90px;
}

.left-pane-input{
  width: 100%;
}

.left-pane-btn {
  margin-bottom: 28px;
}

.buttons {
  text-align: center;
}
